.favorite__container {
  margin: auto;
  width: 90%;
  min-height: 95vh;
  padding: 30px 30px 30px 30px;

  background-color: black;
  color: white;}

.favorite__products__empty {
  text-align: center;
  display: flex;
  height: 100%; 
}
.favorite__products__empty p {
  margin: auto;
  font-size: 4rem;
}

.favorite__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  column-gap: 1%;
  row-gap: 1%;

  margin-bottom: 1%;
}