.favorite__container {
  margin: auto;
  width: 90%;
  min-height: 95vh;
  height: 95vh;  
  color: white;

  display: flex;
  flex-direction: column;
}

.favorite__products__empty {

  font-size: 2rem;
  flex-grow: 1; /* Takes up remaining space below the FilterBar */

  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  column-gap: 1%;
  row-gap: 1%;

  margin-bottom: 1%;
}