

.myposts__container {
    background-color: grey;
    
    min-height: 95vh;
}
.myposts__container h2 {
    padding: 1%;
}
.myposts__container__header {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 1%;
}

.myposts__container__header button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0; /* Default button background */
}

.myposts__container__header button.active {
    background-color: #474747; /* Highlighted background when active */
    color: white;
}

.myposts__section {
}

.myposts__table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;


}
.myposts__table th, .myposts__table td {
    padding: 8px;
}
.myposts__table th {
    background-color: rgb(43, 40, 40);
    border: 2px solid black;
}

.myposts__table td {
    text-align: center;
    border: 2px solid rgb(77, 77, 77);

}

.myposts__table__btn__container button {
    margin-right: 2%;
}
