.nologo-main-container {
    margin: auto;
    width: 90%;
    min-height: 95vh;
    height: 95vh;  
    color: white;

    display: flex;
    flex-direction: column;
}

  .logo__loading {
    height: 100%;
  
    font-size: 2rem;
    flex-grow: 1; /* Takes up remaining space below the FilterBar */
  
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .nologo__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Space between grid items */
    padding: 10px;
  
  }