
.profile__container {
  background-color: grey;
  margin: auto;
  
  display: flex;
  flex-direction: column;

  width: 60%;
}
.profile__container h2 {
  padding: 1%;
}

.profile__form {
  padding: 1%;
  background-color: rgb(99, 97, 97);
}
.profile__form__btn__container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
}
.profile__form__btn__container button {
}

.test2 {
  margin: auto;
  background-color: yellowgreen;
}

.profile__form__section {
  margin: auto;
  margin-bottom: 2%;
  width: 100%;

  display: flex;
}
.profile__form__section p {
  width: 30%;
  text-align: center;
  margin: auto;
  font-size: 0.8rem;
}
.profile__form__section input {

}

.profile__btn__container {
  display: flex;
  justify-content: flex-end; 
  padding: 1% 0;
}
.profile__btn__container p {
  width: fit-content;
  cursor: pointer;
  margin-right: 1%;
}
.profile__btn__container p:hover {
  background-color: darkgrey;
}
