.homescreen {
  min-height: 90vw;
  height: 100vh;
  max-width: 100%;
  background-color: rgb(21, 94, 84);
}

.homescreen__title {
  font-size: 1.5rem;
  color: #171717;
  margin: 0 0 0 2%;
}

.homescreen__products {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  column-gap: 0;
  row-gap: 2%;
}
