  
  .login__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20%;
    min-height: 40%; /* 80% of viewport height */
    
    max-width: 1000px; /* Maximum width for larger screens */
    max-height: 800px; /* Maximum height for larger screens */
    
    background-color: yellowgreen;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    z-index: 1000;

  }

/* Styling the form */
.login__form {
  display: flex;
  flex-direction: column;
  color: white;

  height: 100%;
  border: solid 5px blue;
  
}

.login__form h2 {
  text-align: center;
}
.login__form label {
  color: red;
  font-weight: bold;
}

form {
  background-color: orange;

  display: flex;
  flex-direction: column;

  align-items: space-around;
  
  height: 100%;

}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.login__btn__container {
  display: flex;
  flex-direction: column;
  
  justify-content: space-evenly;

  border: 5px red solid;
  padding: 15px;
}
.login__btn__container p {
  color: #007bff;
}


button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button[type="button"] {
  background-color: #ccc;
}

button[type="button"]:hover {
  background-color: #999;
}
