  p {
    margin: 0;
  }

  .form__container {
    
    display: flex;
    min-height: 90vh;
 
  }

  .form__post {
    display: flex;
    flex-direction: column;
    border: 5px solid blueviolet;
  }

  .form__post__section {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
  }

  .form__list {
    border: solid 5px black;
    height: auto;

    margin-bottom: 20px;

  }
  .form__list__top {
    display: flex;
    width: auto;

  }
  .form__list__top label {
    width: auto;
    font-size: 1.3em;
    height: auto;
    margin: 0;
  }
  .form__list__top button{
    width: 64px;
  
    margin: auto 0 auto 15px;
  }
  .form__list ul{
    width: 800px;
    margin: 0;

  }
  .form__list input[type=text] {
    width: 80%;
    font-size: 1em;
  }

  .form__list__item {
  }
  .form__list__item input[type=text] {
    width: 80%;
    height: 24px;
  }
  .form__list__item button {
    background-color: lightskyblue;
    margin-left: 1%;
    height: 24px;
  }
  .form__post button[type=submit] {
    border: solid 4px black;
    height: 60px;
    width: 200px;
    font-size: 24px;
    margin: auto;

  }

  .post__denied {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    
  }
  .post__denied p {
    font-size: 3em;
  }