  button, label, input, ul {
    margin: 0;
  }

  .post__form__container {
    display: flex;
    color: white;
    height: 100%;
    background-color: green;
    
    flex-grow: 1;
  }

  .form__post {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 2% auto;

    border: 2px solid darkblue;
    box-sizing: border-box;
  }

  .form__item__container {
    display: flex;
    flex-direction: column;
    margin: 0 0 2% 0;
  }
  .form__item__container ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .form__item__container li {
  }

  .form__list__brand {
    height: auto;
  }
  .select__container {
    display: flex;
  }
  .select__container select {
      min-width: 100px;
      text-align: center;
      border: 1px solid #ccc;
      font-weight: 700;
  }

  .form__item__top {
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
  }

  .form__item__list {
    display: flex;
    width: 100%;
  }
  .form__item__list input {
    width: 80%;
  }
  .form__item__list button {
    width: 20%;
  }

  .post__denied {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .post__denied p {
    font-size: 3em;
  }