p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.proudct__container {
    border: solid 10px grey;
    width: 500px;
    background: yellow;

    width: 500px;
    height: 550px;
    background: red;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
  
  }

  .product__header {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
  }
  .product__header p {
    font-size: 1em;
    margin: auto 0 auto 2%;
  }
  .product__header p > span {
    font-weight: bold;
    font-style: italic;
  }
  .product__header button {
    background-color: whitesmoke;
    margin: auto 2% auto 0;
    height: 100%;
  }

  .product__body {
    height: 80%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .product__body:hover {


  }
  .product__body > img {
    width: 85%;
    height: 90%;
    max-height: 800px;
    margin: auto;
    background-color: antiquewhite;
  }
  .product__body > h4 {
    width: fit-content;
    margin: auto 0 auto 2%;
    background-color: antiquewhite;
  }
  .product__body__container {
    display: flex;
    background-color: aquamarine;
  }

  .product__info {
    display: flex;
    height: 10%;
    background-color: aqua;
  }
  .product__info__price {
    width: 15%;
    font-size: 1.5em;
    margin: auto;
    background-color: pink;
  }
  .product__info__tags {
    display: flex;
    margin: auto 0 auto 2%;
    width: 80%;

  }
  .product__info__tags button {
    margin-right: 5%;
  }

  .product__vote {
    display: flex;
    background-color: #007bff;
  }

  .product__links {
    height: 5%;
    width: fit-content;
    background-color: aliceblue;
    display: flex;
  }
  .product__links img {
    height: 100%;
    width: 50px;
    
    margin: auto 2% auto 0;
    
    background-color: red;
  }

  .product__comments__container {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    
  }
  
  .product__comments {
    overflow: scroll;
  }

  .product__comment {
    display: flex;
    background-color: yellowgreen;
  }

  .button-normal {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #000;
  }
  
  .button-highlighted {
    background-color: #007bff;
    border: 1px solid #0056b3;
    color: #fff;
  }

  @media (max-width: 1232px) {
    .product {
      width: 360px;
    }
  }
  
  @media (max-width: 1115px) {
    .product {
      width: 330px;
    }
  }
  
  @media (max-width: 1028px) {
    .product {
      width: 300px;
    }
  }
  
  @media (max-width: 950px) {
    .product {
      width: 400px;
    }
  }
  
  @media (max-width: 830px) {
    .product {
      width: 330px;
    }
  }
  
  @media (max-width: 700px) {
    .product {
      width: 290px;
    }
  }
  
  @media (max-width: 630px) {
    .product {
      width: 450px;
    }
  }
  
  @media (max-width: 500px) {
    .product {
      width: 350px;
    }
  }
  
  @media (max-width: 400px) {
    .product {
      width: 300px;
    }
  }
  